---
dropdown: '"\\"\\\\\\"\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"name:
  Item 2\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ndata:
  some
  data!\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\n\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"\\\\\\\\\\\\\\"\\\\\\"\\""'
md: |-
  # aHeading

  adadadawdawda
color: "#C928286E"
colors:
  - {}
number: 23324
layout: layouts/base.njk
promotion:
  text: "Pages CMS 1.0.0 is out! "
  url: https://github.com/pages-cms/pages-cms/discussions/128
title: "The No-Hassle CMS for Static Sites Generators "
description: Tired of juggling Git and YAML to update your Next.js, Astro, Hugo
  or Nuxt website? Make it easy on you and your team, get a user-friendly CMS
  running straight on top of GitHub.
features:
  title: Packed with features...
  entries:
    - soon: false
faq:
  title: Frequently asked questions
  entries:
    - {}
---
